@import url('https://fonts.googleapis.com/css?family=Lobster');
/*	font-family: 'Lobster', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
  /*font-family: 'Open Sans', sans-serif;*/
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('../fonts/BebasNeueRegular/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueRegular/BebasNeueRegular.otf')  format('opentype'),
	     url('../fonts/BebasNeueRegular/BebasNeueRegular.woff') format('woff'), url('../fonts/BebasNeueRegular/BebasNeueRegular.ttf')  format('truetype'), url('../fonts/BebasNeueRegular/BebasNeueRegular.svg#BebasNeueRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBold/BebasNeueBold.otf')  format('opentype'),
	     url('../fonts/BebasNeueBold/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold/BebasNeueBold.ttf')  format('truetype'), url('../fonts/BebasNeueBold/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeueLight';
  src: url('../fonts/BebasNeueLight/BebasNeueLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueLight/BebasNeueLight.otf')  format('opentype'),
	     url('../fonts/BebasNeueLight/BebasNeueLight.woff') format('woff'), url('../fonts/BebasNeueLight/BebasNeueLight.ttf')  format('truetype'), url('../fonts/BebasNeueLight/BebasNeueLight.svg#BebasNeueLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
